* {
    margin: 0px;
    padding: 0px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

header {
    min-height: 160px;
    background-color: #000000;
    padding: 10px;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 50px 20px 0px 20px;
}

header > p {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 3.5vw;
}

header > p > a {
    text-decoration: none;
    color: white;
} 

header > p > a:hover {
    text-decoration: underline;
}

main > section {
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

main section.verso-parallax {
    background-color: #ffffff;
    background-size: cover;   
   
}

main > section.verso-parallax > p {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    
}
main section > p.afasta-bottom-verso {
    padding-bottom: 6vh;
}

#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;    
}

#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
}

@media screen and (max-width: 760px) {
    #img01 {
        background-position: center center;
    }
}

footer {
    background-color: black;
    padding: 5px;
}

footer > p {
    color: white;
    text-align: center;
}